@model CartPreOrderFormModel
@{
	ViewData["Title"] = "Наеми носия";
	ViewData["Button"] = "Добави в количката";
}


<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<form method="post" asp-action="Add" asp-controller="Cart">
	<partial name="_CartPreOrderFormPartial" />
</form>

@section Scripts
{
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.8/index.global.min.js'></script>
	<script src="~/js/CalendarSelector.js"></script>
	<partial name="_ValidationScriptsPartial" />
}