@model EventFormModel
@{
	ViewData["Title"] = "Промени събитие";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

<partial name="_ImageEditPartial" model="@Model.Images" />
<partial name="_EventFormPartial" model="@Model" />

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}