@model OutfitPartFormModel
@{
	ViewData["Title"] = "Добави елемент";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_OutfitPartFormPartial" model="@Model" />

@section Scripts
	{
	<partial name="_ValidationScriptsPartial" />
}