@model OutfitPartFormModel
@{
	ViewData["Title"] = "Промени елемент";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

<partial name="_ImageEditPartial" model="@Model.Images" />
<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form enctype="multipart/form-data" method="post" asp-area="Admin" asp-controller="OutfitPart" asp-action="Edit">
			<partial name="_OutfitPartFormPartial" model="@Model" />
		</form>
	</div>
</div>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}