@model CartPreOrderFormModel
@{
	ViewData["Title"] = "Резервации";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="row">
	<div id='calendar' class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 d-flex justify-content-center">
	</div>
</div>
@section Scripts
	{
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.8/index.global.min.js'></script>
	<script src="~/js/CalendarSelectorAll.js"></script>
	<partial name="_ValidationScriptsPartial" />
}