<input name="elementImages" type="file" accept=".jpg, .jpeg" onchange="checkTotalSize(this)"  multiple novalidate />
<div name="previewContainer" class="img img-fluid justify-content-center"></div> 
@*TODO implement a preview,*@