@model CommentForEditFormModel

<div class="row">
	<div class="col-sm-10 offset-1 ">
		<form method="post" asp-area="" asp-action="Edit" asp-controller="Comment">

			<input asp-for="EventId" class="form-control visually-hidden" placeholder="EventId...">

			<div class="form-control" >
				<label>Коментар</label>
				<textarea readonly rows="7" class="form-control" placeholder="Коментар...">@Model.ModifiedContent</textarea>
			</div>
			<div class="form-control">
				<label asp-for="ModifiedContent">Ново съдържание</label>
				<textarea asp-for="ModifiedContent" rows="7" class="form-control" placeholder="Нов Коментар..."></textarea>
				<span asp-validation-for="ModifiedContent" class="small text-danger"></span>
			</div>

			<div class="text-center">
				<input class="btn btn-success mt-3" type="submit" value="Запази" />
			</div>
		</form>
	</div>
</div>