@model ICollection<string>

<div class="image-gallery masonry">
	@foreach (var image in Model)
	{
		<div class="gallery-item">
			<a href="@image" data-lightbox="image-gallery">
				<img src="@image" alt="Gallery Image" class="gallery-image"/>
				<div class="image-title">
					Image Title
				</div>
			</a>
		</div>
	}
</div>




