@model ICollection<string>

<div class="image-gallery masonry">
	@foreach (var image in Model)
	{
		<div class="gallery-item">
			<a href="@image" data-lightbox="image-gallery">
				<img src="@image" alt="Gallery Image" class="gallery-image"/>
				<div class="overlay">
					<div class="overlay-content">
						<i class="fas fa-search-plus"></i>
					</div>
				</div>
				<div class="image-title">
					@*TODO implement Image Title or provide info*@
				</div>
			</a>
		</div>
	}
</div>





