@{
    ViewData["Title"] = "НосиЯ";
}

<section class="nosiya-index">
	<div class="nosiya-index-container" data-aos="zoom-in" data-aos-delay="100">
		<h1>НосиЯ</h1>
		<h2>Заедно пазим традициите живи!</h2>
		<a class="btn-get-started" asp-area="" asp-controller="OutfitSet" asp-action="All">Каталог</a>
	</div>
</section>
