@model OutfitSetFormModel
@{
	ViewData["Title"] = "Създай носия";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<partial name="_OutfitSetFormPartial" model="@Model" />


@section Scripts
{
	<partial name="_ValidationScriptsPartial"/>
}