@model OutfitSetFormModel
@{
	ViewData["Title"] = "Промени носия";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

<partial name="_OutfitSetFormPartial" model="@Model" />

<a asp-controller="OutfitPart" asp-action="Add" asp-route-id="@Url.ActionContext.RouteData.Values["id"]"
   class="btn btn-warning">Добави елемент</a>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}